@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 42px 0;
}
.row {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1300px;
}
li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: black;
}
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: rgb(216, 22, 22);
  color: white;
  font-size: 24px;
  margin: 0 12px;
  transition: all 300ms ease;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(177, 21, 21);
}

.fa-check {
  color: rgb(216, 22, 22);
  margin-right: 6px;
}
.fa-bars {
  font-size: 28px;
  color: white;
}
.menu__btn {
  border: none;
  background-color: transparent;
}
.menu__btn:hover {
  cursor: pointer;
}
.red {
  color: rgb(216, 22, 22);
}

/*NAV*/

.nav__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 10;
  border-bottom: 1px solid lightgray;
}
.nav__logo--btn {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 150px;
  height: 100px;
}

/*SIDEBAR*/
.sidebar {
  height: 90vh;
}

.sidebar.closed {
  position: fixed;
  left: -100%;
  top: 8%;
}
.sidebar.open {
  left: 0;
  top: 8%;
  min-width: 15%;
  position: fixed;
  background-color: white;
}

.workouts {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workouts__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  -webkit-box-shadow: 0px 0px 33px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px -17px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}




/*LANDING */
#landing {
  height: 70vh;
  background-color: rgba(177, 21, 21, 0.034);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__wrapper {
  display: flex;
}

.landing__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 42px;
}
.landing__header {
  font-size: 62px;
}
.landing__info--checks {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 24px;
  margin-bottom: 12px;
}
.landing__info--check {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}

.landing__figure {
  width: 50%;
}
.landing__img {
  width: 100%;
  filter: drop-shadow(5px 5px 8px #000000);
}

/*INFO*/
#info {
}
.info__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__info {
  width: 50%;
  padding-right: 24px;
}
.info__header {
  font-size: 38px;
  margin-bottom: 24px;
}
.info__extra {
  font-size: 28px;
}
.info__points {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.info__point {
  width: 50%;
  margin: 12px 0;
}
.info__point--number {
  font-size: 60px;
  margin-bottom: 12px;
}
.info__point--title {
  margin-bottom: 12px;
}

.info__point--para {
  opacity: 0.7;
  max-width: 80%;
}

/*RESULTS*/

#results {
  background-color: rgba(211, 211, 211, 0.397);
}
.results__wrapper {
  display: flex;
  align-items: center;
  padding: 24px 0;
}
.results__info {
  width: 40%;
}
.results__header {
  font-size: 38px;
  margin-bottom: 24px;
}
.results__para {
  font-size: 18px;
}
.results__figure {
  width: 50%;
  padding-left: 24px;
}
.results__img {
  width: 100%;
}

/*FOOTER*/

#footer {
  background-color: aqua;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__container {
  padding: 12px 0;
}

/*EXERCISE*/

#exercise {
  padding-top: 120px;
  background-color: rgba(211, 211, 211, 0.205);
  height: 100vh;
}

.exercise__border{
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}
.exercise__wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
  justify-content: center;
}
.exercise__video--wrapper {
  position: relative; /* Required for responsive aspect ratio */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
  width: 100%;
}
.exercise__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.exercise__info {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
