@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: purple;
  color: white;
  font-size: 24px;
  margin: 0 12px;
}
.slide__down{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.slide__down.reveal{
    max-height: 200px;
}

.btn:hover {
  cursor: pointer;
}
.title {
  font-size: 20px;
  color: gray;
}
.type {
  color: gray;
  font-weight: 700;
}
/*NAV*/
nav {
  height: 10vh;
  padding: 0 24px;
}

.nav__logo {
  width: 160px;
  height: 120px;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__btn {
  padding: 12px;
  border: none;
  background-color: transparent;
}
.menu__btn:hover {
  cursor: pointer;
}
.menu__btn--img {
  font-size: 24px;
}

/*SIDEBAR*/
.sidebar{
  height: 85vh;
  left: -20%;
}
.sidebar.side--visible{
  left: 0;
}
.menu{
  border: 1px solid black;
}
.exercise__menu{
  box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.1);
  padding: 12px 0;
}