@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 128px 0;
}
.row {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1300px;
}
li {
  list-style: none;
}
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: purple;
  color: white;
  font-size: 24px;
  margin: 0 12px;
}

.fa-check {
  color: purple;
  margin-right: 6px;
}

/*NAV*/


.nav__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 10;
}
.nav__logo--btn {
  display: flex;
  align-items: center;
}
.nav__logo {
  width: 150px;
  height: 100px;
}

/*SIDEBAR*/
.sidebar {
  height: 90vh;
}
.sidebar.closed {
  position: fixed;
  left: -100%;
}
.sidebar.open {
  left: 0;
  top: 10%;
  min-width: 15%;
  position: fixed;
}
/*LANDING */
.landing {
  width: 100%;
}

.landing__wrapper {
  display: flex;
}

.landing__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 42px;
}
.landing__header {
  font-size: 62px;
}
.landing__info--checks {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 24px;
  margin-bottom: 12px;
}
.landing__info--check {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
}

.landing__figure {
  width: 50%;
}
.landing__img {
  width: 100%;
  filter: drop-shadow(5px 5px 8px #000000);
}

/*INFO*/
#info {
}
.info__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__info {
  width: 50%;
  padding-right: 24px;
}
.info__header {
  font-size: 38px;
  margin-bottom: 24px;
}
.info__extra {
  font-size: 28px;
}
.info__points {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.info__point {
  width: 50%;
  margin: 12px 0;
}
.info__point--number {
  font-size: 60px;
  margin-bottom: 12px;
}
.info__point--title {
  margin-bottom: 12px;
}

.info__point--para {
  opacity: 0.7;
  max-width: 80%;
}
